@import "tailwindcss";

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-neutral-800);
}

a {
  color:var(--color-yellow-300);
  display: inline-block;
  transition-duration: 300ms;
}
a:hover {
  opacity: 0.5;
  rotate: -24deg;
  transition-duration: 300ms;
}